.table-filter-checkbox-group {
  width: 250px;
  margin-bottom: 8px;
  display: block;
  max-height: 300px;
  overflow-x: hidden;
}

.table-filter-checkbox-group .ant-checkbox-group-item {
  width: 100%;
}

// .ant-table-thead th, .ant-table-tbody td
//  {    white-space: nowrap!important;
//       word-break:break-word!important;
//       word-break: break-all!important;
//  }
